@import "../../../Head/HeadBar.scss";

.menu_item {
  display: flex;
  justify-content: center;
  padding: 8px 10px;

  &:nth-child(1n + 2) {
    margin-left: 20px;
  }

  h3 {
    cursor: pointer;

    @include tabIpadMini {
      font-size: 1.5rem;
    }

    @include tabIpadAir {
      font-size: 2rem;
    }

    @include iphoneSE {
      font-size: 0.8rem;
    }
  }

  &.active {
    background-color: $thirdColor;
    border-radius: 15px;
  }
}
