@import "../../Head/HeadBar.scss";

.intro_wrapper {
  background-color: white;

  .intro {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    @include tabIpadMini {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    @include tabIpadAir {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    @include iphoneSE {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .intro_left {
      -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
      flex: 0.5;

      .imgContainer {
        width: 103%;
        height: 100%;
        overflow: hidden;
        margin-left: -20px;

        @media (max-width: 780px) {
          display: none;
        }

        img {
          border-radius: 0 50% 50% 0;
        }
      }
    }
    .intro_right {
      -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
      flex: 0.5;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .textContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 30%;

        @include tabIpadMini {
          margin-top: -15%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }

        @include tabIpadAir {
          margin-top: -10%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }

        @include iphoneSE {
          margin-top: -10%;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }

        h1 {
          font-size: 45px;

          @include iphoneSE {
            font-size: 25px;
          }
        }
        h2 {
          font-size: 40px;
          margin-left: 3%;

          @include iphoneSE {
            font-size: 25px;
          }
        }
        h3 {
          font-size: 35px;
          color: $thirdColor;
          margin-left: 6%;

          @include iphoneSE {
            font-size: 25px;
          }

          .ityped-cursor {
            font-size: 2.2rem;
            opacity: 1;
            -webkit-animation: blink 0.3s infinite;
            animation: blink 0.3s infinite;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
          }

          @keyframes blink {
            100% {
              opacity: 0;
            }
          }

          @-webkit-keyframes blink {
            100% {
              opacity: 0;
            }
          }
        }
      }
      .arrow_down {
        margin-bottom: 3%;

        @include tabIpadMini {
          padding: 0 0 1.5% 0;
          margin: 0 auto;
        }

        @include tabIpadAir {
          padding: 0 0 2.5% 0;
          margin: 0 auto;
        }

        @include iphoneSE {
          padding: 0 0 2.5% 0;
          margin: 0 auto;
        }

        img {
          width: 30px;
          height: 30px;
          -webkit-animation: blink 2s infinite;
          animation: blink 2s infinite;
          cursor: pointer;

          @include iphoneSE {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
