@import "../Head/HeadBar.scss";

.hamburger_menu_wrapper {
  position: fixed;
  width: 300px;
  height: calc(100vh - 60px);
  top: 60px;
  right: -300px;
  color: $unActiveMainFontColor;
  background-color: $unActiveBackColorHeadBAr;
  z-index: 3;
  transition: all 1s ease;

  .hamburger_menu {
    margin-top: 20%;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    font-size: 40px;
    ul {
      li {
        margin-top: 10%;
        cursor: pointer;

        a {
          text-decoration: none;
          color: inherit;
          &:hover {
            color: #8166ed;
          }
        }
      }
    }
  }
  &.activeHamburger {
    right: 0;
    color: $activeActiveMainFontColor;
    background-color: $activeBackColorHeadBar;
  }
}
